/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4    
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@400;500;600;700&display=swap');

html {
    font-size: 10px;
    font-family: 'Noto Sans Display', sans-serif;
}

nav, button, header {
    background-color: #540b51;
}

@media (width < 768px) {
    nav {
        height: 10rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav ul {
        display: none;
    }

    .logo {
        width: 10rem;
        margin-left: 2rem;
    }
}

button {
    border: none;
}

.button-div {
    width: 12rem;
    display: flex;
    justify-content: space-evenly;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 59rem;
}

header h1 {
    text-align: center;
    font-size: 3.5rem;
    line-height: 4rem;
    color: white;
    display: flex;
    flex-direction: column;
}

.header-intro {
    height: 40rem;
}

header p {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 2rem;
    color: white;
}

p span {
    color: #ECB12F
}

.sign-in-buttons {
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.sign-in-buttons img {
    width: 3rem;
    background-color: white;
    position: relative;
    right: 6rem;

}

.sign-in-buttons button {
    border-radius: 5px;
}


.sign-in-buttons button:nth-child(1) {
    color: black;
    background-color: white;
    padding: 1.5rem 100px;
}

.sign-in-buttons button:nth-child(2) {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: white;
    background-color: #4285F4;
    padding: 1.5rem 90px;
}

.slack-app {
    height: 70%;
    object-fit: cover;
    overflow: hidden;
}
.slack-app-photo {
    object-fit: cover;
    max-width: 200%;
    width: 150%;
    position: relative;
    right: 5%;
}

.trust {
    height: 5rem;
    font-size: 1.3rem;
    padding-top: 5rem;
    display: flex;
    justify-content: center;
} 
main {
    block-size: fit-content;
    display: flex;
    flex-direction: column;
}

main section {
    background-color: #F3EAE2;
}

#motto-logo {
    overflow: hidden;
    height: 30rem;
    text-transform: uppercase;
    font-weight: 600;
}

.logos {
    object-fit: contain;
    height: 10rem;
    width: 100%;
    padding-top: 10rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.logos img {
    max-width: 100%;
    max-height: 4rem;
    margin: auto 2.5%;
}

.uber {
    width: 20%;
}

.nyt {
    max-width: 100%;
}

#team {
    height: 150%;
}


.bring, .choose-work, .move {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 20rem;
    margin: 5rem 1.5rem;;
}

main h2 {
    font-size: 2.5rem;
}

main p {
    font-size: 1.5rem;
}

main a {
    text-decoration: none;
    font-size: 1.5rem;
}
.choose-work {
    height: 20rem;
}

#teams {
    height: 100rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    background-color: white;
    margin-bottom: 30%;
}

#teams h3 {
    font-size: 2.5rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

#teams span {
    color: #540B51;
    font-size: 5rem;
}

.buttons {
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 5rem;
}

.buttons button {
    height: 7rem;
    width: 35rem;
    font-size: 1.7rem;
    border-radius: 5px;
    text-transform: uppercase;
}

.buttons :nth-child(1) {
    color: white;
}

.buttons :nth-child(2) {
    background-color: white;
    color: #540B51;
    border: solid;
    border-width: 2px;
}

.stats {
    height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-weight: 800;
    text-align: center;
    /* margin-top: 5rem; */
}

.stats li {
    max-width: 40%;
    list-style: none;
    padding-top: 10%;
}

.welcome {
    height: 30rem;
    background-color: #540B51;
    display: flex;
    
}

.welcome :nth-child(2) {
    background-color: white;
    color: #540B51;
    border: solid;
    border-width: 2px;
}